<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThinGK</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Image and text -->
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="https://photobucket.com/resources/home/svg/pb-logo-inverted.svg" width="30" height="30"
                    class="d-inline-block align-top" alt="">
                Bootstrap
            </a>
        </nav>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">thinGK <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">thinGKs</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid p-0">
        <div class="jumbotron">
            <h1>Welcome To ThinGK</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore minima animi quasi natus minus beatae
                aliquam eligendi consectetur impedit pariatur!</p>
            <hr>

        </div>
    </div>