<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thingks</title>
  <link rel="stylesheet" href="/resources/vendors/grid.css">
  <link rel="stylesheet" href="/resources/vendors/normalize.css">
  <link rel="stylesheet" href="/resources/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="hero-text-box">
      <h1>The world as your shop. <br>Convenience personified!</h1>
      <a class="btn btn-full" href="/thingks">Let's shop</a>
      <a class="btn btn-ghost" href="#">How's it work</a>
    </div>
  </header>
</body>
</html>