<%- include ("./partials/header") %>

<div class="container">
  <div class="jumbotron text-center landing-hero">
    <div class="row">
      <div class="col">
        <button class="btn btn-lg btn-outline-success"><a href="/thingks/new">create</a></button>
      </div>
      <div class="col">
        <button class="btn btn-lg btn-outline-success"><a href="/thingks">show all</a></button>
      </div>
      <div class="col">
        <button class="btn btn-lg btn-outline-success"><a href="#">about</a></button>
      </div>
    </div>
  </div>
</div>

<%- include ("./partials/footer") %>