<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thingk</title>
  <link rel="stylesheet" href="/resources/vendors/grid.css">
  <link rel="stylesheet" href="/resources/vendors/normalize.css">
  <link rel="stylesheet" href="/resources/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/2369667c99.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link rel="stylesheet" href="/resources/css/style.css">
  <link rel="apple-touch-icon" sizes="57x57" href="/resources/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/resources/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/resources/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/resources/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/resources/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/resources/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/resources/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/resources/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/resources/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/resources/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/resources/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/resources/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/resources/favicon/favicon-16x16.png">
  <link rel="manifest" href="/resources/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/resources/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body>

	<section class="showcase">
	  <div class="video-container">
	    <video src="https://traversymedia.com/downloads/video.mov" autoplay muted loop></video>
	  </div>
	  <div class="content">
	    <h1><span><a href="/thingks">thinGK</a></span></h1>
	    <a href="/thingks" class="hero-btn">Read More</a>
	  </div>
	</section>

	<section id="about">
	  <h2>Say What?</h2>
	  <p>
      thinGK is a hub for sneaker enthusiasts. A place where you can store your favourite sneaker photos.
      You don't need to have the photos or shoe makeup descriptions saved on your device. Link it online, we'll fetch it for ya [wink]!
	  </p>

	  <h2>Follow Me On Social Media</h2>

	  <div class="social">
	    <a href="https://twitter.com/tinashy_daniel" target="_blank"><i class="fab fa-twitter fa-3x"></i></a>
	    <a href="https://instagram.com/nashe_dan" target="_blank"><i class="fab fa-instagram fa-3x"></i></a>
	    <a href="https://github.com/tinashy" target="_blank"><i class="fab fa-github fa-3x"></i></a>
	    <a href="https://www.linkedin.com/in/tinashy-dan" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
	  </div>
	</section>

</body>
</html>