* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  font-family: 'Lato', sans-serif;
}

/* ------------- NAVIGATION ------------------ */
.logo-icon {
  font-size: 180%;
  margin-top: 20px;
}

/* ------------- NEW THINGK ------------------ */
.new-icon {
  font-size: 150%;
  color: #fff;
  border: 1px solid rgb(248, 248, 247);
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.contact {
  padding: 4%;
  height: 400px;
}

.col-md-3 {
  background: #ff9b00;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.contact-info {
  margin-top: 10%;
}

.contact-info img {
  margin-bottom: 15%;
}

.contact-info h2 {
  font-weight: 300;
  color: #fff;
  margin-bottom: 80%;
}

.col-md-9 {
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.contact-form label {
  font-weight: 600;
}

.contact-form button {
  background: #25274d;
  color: #fff;
  font-weight: 600;
  width: 25%;
}

.contact-form button:focus {
  box-shadow: none;
}